 body {
  background: #f4f6f9;
}

.quiz-container {
  max-width: 800px;
  margin: auto;
}

.card {
  border-radius: 15px;
}

.option {
  cursor: pointer;
}

.timer {
  font-weight: bold;
}